<input type="number"  [(ngModel)]="prixMax">
<table  class="table">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>price</th>
    <th>quantity</th>
    <th>like</th>
    <th>Action</th>
  </tr>
<tr *ngFor="let item of listProduct , let i=index">
  <ng-container *ngIf="item.price>prixMax ||prixMax==null ">
  <td>{{item.id}}</td>
  <td>{{item.title}}</td>
  <td>{{item.price}}</td>
  <td>{{item.quantite}}</td>
  <td>{{item.like}}</td>
  <td>
    <button type="button" class="btn btn-primary" (click)="incrementCounter(i)">Incrémenter</button>
    <button type="button" class="btn btn-primary" (click)="decrementButton(i)" [disabled]="item.quantite == 0">Decrémenter</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/product',item.id] " >Details </button>
  </td>
  </ng-container>

</tr>

</table>
